.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.imgContainer{
    max-width: 600px;
    margin: auto;
}

.imgContainer img{
    width: 100%;
}

.infoContainer{
    margin: auto;
    padding: 24px;
}