.snipcart-signin__forgot-password {
  color: #3f51b5;
}
.snipcart-cart-button--highlight {
  background-image: none;
  background-color: #3f51b5;
}

.snipcart-signin__register-link {
  color: #3f51b5;
}
